<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP</title>
</head>
<body>
    <header>
        <diV>
            <h1>PHP</h1>
        </diV>
    </header>
    <br>
    <section>
        <h3>Aprendendo PHP</h3>
        <?php
        echo "My first PHP script!";
        ?>
        <p>PHP é uma linguagem de script de servidor e uma ferramenta poderosa para criar páginas Web dinâmicas e interativas.</p>
        <p>O PHP é uma alternativa amplamente utilizada, gratuita e eficiente aos concorrentes, como o ASP da Microsoft.</p>
    </section>
    <a href="../index.html">Voltar</a>
    <br>
    <a href="phpest01.html">Proximo</a>
    <br>
    <footer>

    </footer>    
</body>
</html>