<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP</title>
</head>
<body>
    <header>
        <diV>
            <h1>PHP</h1>
        </diV>
    </header>
    <br>
    <section>
        <h3>Introdução ao PHP</h3>
        <p>O código PHP é executado no servidor.</p>        
    </section>
    <br>
    <section>
        <h3>O que você já deveria saber</h3>
        <p>Antes de continuar, você deve ter um conhecimento básico do seguinte:</p>
        <ul>
            <li><a>HTML</a></li>
            <li><a>CSS</a></li>
            <li><a>JavaScript</a></li>
        </ul>
        <p>Se você quiser estudar esses assuntos primeiro, encontre os tutoriais em nossa <a href="../index.html">página inicial</a> .</p>
    </section>
    <br>
    <section>
        <h3>O que é PHP?</h3>
        <ul>
            <li>PHP é uma sigla para "PHP: Hypertext Preprocessor"</li>
            <li>PHP é uma linguagem de script de código aberto amplamente utilizada</li>
            <li>Os scripts PHP são executados no servidor</li>
            <li>O PHP é gratuito para baixar e usar</li>
        </ul>
    </section>
    <br>
    <section>
        <h3>PHP é uma linguagem incrível e popular!</h3>
        <p>É poderoso o suficiente para estar no centro do maior sistema de blogs da web (WordPress)!</p>
        <p>É profundo o suficiente para executar grandes redes sociais!</p>
        <p>Também é fácil o suficiente para ser a primeira linguagem server side de um iniciante!</p>
    </section>
    <br>
    <section>
        <h3>O que é um arquivo PHP?</h3>
        <ul>
            <li>Os arquivos PHP podem conter texto, HTML, CSS, JavaScript e código PHP</li>
            <li>O código PHP é executado no servidor e o resultado é retornado ao navegador como HTML simples</li>
            <li>Os arquivos PHP têm extensão <b>" .php"</b></li>
        </ul>
    </section>
    <br>
    <section>
        <h3>O que o PHP pode fazer?</h3>
        <ul>
            <li>PHP pode gerar conteúdo de página dinâmico</li>
            <li>PHP pode criar, abrir, ler, escrever, excluir e fechar arquivos no servidor</li>
            <li>PHP pode coletar dados de formulário</li>
            <li>PHP pode enviar e receber cookies</li>
        </ul>
    </section>
    <br>
    <a href="../index.html">Voltar</a>
    <br>
    <a href="phpest01.html">Proximo</a>
    <br>
    <footer>

    </footer>
    
</body>
</html>