<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header>
        <div>
        <h1>Estudo de TI</h1>
        </div>
            <nav>
                <ul>
                    <li><a>HTML</a></li>
                    <li><a>CSS</a></li>
                    <li><a>JAVASCRIPT</a></li>
                    <li><a>PYTHON</a></li>
                    <li><a href="php/phpest.html">PHP</a></li>
                    <li><a>C</a></li>
                    <li><a>C++</a></li>
                    <li><a>C#</a></li>
                    <li><a>GIT</a></li>
                </ul>
            </nav>
    </header>
    <br>
    <section>
        <h3>HTML</h3>

    </section>
    <br>
    <footer>

    </footer>
</body>
</html>